---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/global.scss";
import "../components/Navigation.astro";

const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="description" content="This is a tutorial website" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <section style="height: 200vh;"></section>
    <Header />
    <h1>Astro new website!</h1>
    <slot />
    <Footer />
    <script>
      import "../scripts/menu";
    </script>
  </body>
</html>
